## Library Installation

Ensure that the necessary libraries are installed before running the notebook.

In [1]:
# Import necessary libraries
%pip install openpyxl
from openpyxl import load_workbook
import pandas as pd
import os
import re
import itertools

print("Skeleton setup complete!")

Requirement already satisfied: openpyxl in /usr/local/python/3.10.13/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.10.13/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Skeleton setup complete!

## Variable Declaration

Set the variables for file paths, sheet names, and other configurations. Update these variables for each specific project.

In [3]:
# Path to the Excel file (change this for each project)
excel_sales_file_path = '/workspaces/Finetwork-Automation/OUT Amazon Volte TV/Metabaseout.xlsx'
excel_calls_file_path = '/workspaces/Finetwork-Automation/OUT Amazon Volte TV/REGISTRO LLAMADAS OUT.xlsx'
final_excel_file_path = '/workspaces/Finetwork-Automation/OUT Amazon Volte TV/CDM FIDELIZACION + POTENCIALES ACTUALIZADO.xlsx'

# Sheet names in sales Excel for different categories
sheet_brute = 'SERVICIOS BRUTOS'
sheet_active = 'ACTIVOS'
sheet_cancelled = 'CANCELADOS'

# Sheet names in calls Excel for different categories
sheet_calls_brute = 'BRUTO'
sheet_calls_net = 'NETO'

print("Variables defined correctly!")

Variables defined correctly!

## Extract Data from sales sheet

In [4]:
start_row = 8
end_row = 65

def load_sheet_as_dataframe(file_path, sheet_name, start_row, end_row):
    # Load data from the specified sheet and range into a DataFrame
    df = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=start_row-1, nrows=end_row-start_row+1)
    print(f"Data from '{sheet_name}' sheet loaded successfully.")
    return df

# Extract data from 'Active' sheet
services_df = load_sheet_as_dataframe(excel_sales_file_path, 'SERVICIOS BRUTOS', start_row, end_row)
canceled_df = load_sheet_as_dataframe(excel_sales_file_path, 'CANCELADOS', start_row, end_row)
active_df = load_sheet_as_dataframe(excel_sales_file_path, 'ACTIVOS', start_row, end_row)

print("Brut Services DataFrame:")
display(services_df.head())

print("Active DataFrame:")
display(active_df.head())

print("Canceled DataFrame:")
display(canceled_df.head())

Data from 'SERVICIOS BRUTOS' sheet loaded successfully.
Data from 'CANCELADOS' sheet loaded successfully.
Data from 'ACTIVOS' sheet loaded successfully.
Brut Services DataFrame:

,Outbound Nacional,7,2,5,8,14,8.1,12,9,6,...,13,17,29,13.1,6.1,22,10,22.1,17.1,227
0,adrianarodriguez@originaltelecom.es,NaN,NaN,NaN,3.0,2.0,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,14
1,carmenanselmo@originaltelecom.es,1.0,1.0,NaN,1.0,5.0,1.0,NaN,2.0,NaN,...,1.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,18
2,concepcion.garcia@originaltelecom.es,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,1.0,4.0,1.0,NaN,NaN,NaN,1.0,NaN,9
3,fatimagonzalez@originaltelecom.es,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,8.0,4.0,2.0,2.0,1.0,2.0,3.0,1.0,29
4,franciscojavierjaro@originaltelecom.es,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,4.0,3.0,2.0,5.0,2.0,1.0,1.0,20

Active DataFrame:

,Outbound Nacional,7,2,5,8,14,7.1,12,9,6,...,13,15,28,13.1,5.2,21,3,7.2,3.1,185
0,adrianarodriguez@originaltelecom.es,NaN,NaN,NaN,3.0,2.0,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,10
1,carmenanselmo@originaltelecom.es,1.0,1.0,NaN,1.0,5.0,1.0,NaN,2.0,NaN,...,1.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,18
2,concepcion.garcia@originaltelecom.es,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,1.0,4.0,1.0,NaN,NaN,NaN,1.0,NaN,9
3,fatimagonzalez@originaltelecom.es,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,6.0,4.0,2.0,2.0,NaN,NaN,1.0,NaN,21
4,franciscojavierjaro@originaltelecom.es,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,3.0,3.0,1.0,5.0,NaN,NaN,NaN,14

Canceled DataFrame:

,Outbound Nacional,2,1,2.1,10,3,4,2.2,3.1,9,5,1.1,5.1,5.2,52
0,adrianarodriguez@originaltelecom.es,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,carmenanselmo@originaltelecom.es,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,fatimagonzalez@originaltelecom.es,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5
3,josecarlosmartinez@originaltelecom.es,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2
4,joseignacio.garcialopez@grupokonecta.es,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

## Extract Data from calls sheet

In [4]:
start_row = 4
end_row = 65

def load_sheet_as_dataframe(file_path, sheet_name, start_row, end_row):
    # Load data from the specified sheet and range into a DataFrame
    df = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=start_row-1, nrows=end_row-start_row+1)
    print(f"Data from '{sheet_name}' sheet loaded successfully.")
    return df

# Extract data from 'Active' sheet
calls_brute_df = load_sheet_as_dataframe(excel_calls_file_path, 'BRUTO', start_row, end_row)
calls_net_df = load_sheet_as_dataframe(excel_calls_file_path, 'NETO', start_row, end_row)

print("Brute calls DataFrame:")
display(calls_brute_df.head())

print("Net calls DataFrame:")
display(calls_net_df.head())

Data from 'BRUTO' sheet loaded successfully.
Data from 'NETO' sheet loaded successfully.
Brute calls DataFrame:

  Etiquetas de fila  Cuenta de AGENTE
0    arodriguez.out             780.0
1      canselmo.out            1953.0
2           cgarcia            2656.0
3     fgonzalez.out            1504.0
4    jcmartinez.out            1176.0

Net calls DataFrame:

  Etiquetas de fila  Cuenta de AGENTE
0    arodriguez.out             354.0
1      canselmo.out            1439.0
2           cgarcia            1439.0
3     fgonzalez.out             664.0
4    jcmartinez.out             626.0

## Replace NaN with 0

Replace all NaN values in the DataFrames with 0 to facilitate further transformations.

In [5]:
def replace_nan_with_zero(df):
    """
    Replace all NaN values in the DataFrame with 0.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to process.
    
    Returns:
    pd.DataFrame: The processed DataFrame with NaN replaced by 0.
    """
    df = df.fillna(0)
    print("Replaced NaN with 0.")
    return df

active_df = replace_nan_with_zero(active_df)
canceled_df = replace_nan_with_zero(canceled_df)
services_df = replace_nan_with_zero(services_df)



# Display the transformed DataFrames
print("Active DataFrame after replacing NaN:")
display(active_df.head())

print("Canceled DataFrame after replacing NaN:")
display(canceled_df.head())

print("Services DataFrame after replacing NaN:")
display(services_df.head())

Replaced NaN with 0.
Replaced NaN with 0.
Replaced NaN with 0.
Active DataFrame after replacing NaN:

,Outbound Nacional,7,2,5,8,14,7.1,12,9,6,...,13,15,28,13.1,5.2,21,3,7.2,3.1,185
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,...,1.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,18
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,9
3,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,6.0,4.0,2.0,2.0,0.0,0.0,1.0,0.0,21
4,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,3.0,3.0,1.0,5.0,0.0,0.0,0.0,14

Canceled DataFrame after replacing NaN:

,Outbound Nacional,2,1,2.1,10,3,4,2.2,3.1,9,5,1.1,5.1,5.2,52
0,adrianarodriguez@originaltelecom.es,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,carmenanselmo@originaltelecom.es,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,fatimagonzalez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5
3,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2
4,joseignacio.garcialopez@grupokonecta.es,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

Services DataFrame after replacing NaN:

,Outbound Nacional,7,2,5,8,14,8.1,12,9,6,...,13,17,29,13.1,6.1,22,10,22.1,17.1,227
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,14
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,...,1.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,18
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,9
3,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,8.0,4.0,2.0,2.0,1.0,2.0,3.0,1.0,29
4,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,4.0,3.0,2.0,5.0,2.0,1.0,1.0,20

## Load Agents names for sales List

Load the list of all agents from the "Agents" sheet.

In [5]:
# Load the list of agents
agents_sales_df = pd.read_excel(excel_sales_file_path, sheet_name='AGENTES SALES', usecols='A')
agents_sales_list = agents_sales_df.iloc[:, 0].tolist()
print("Agents list loaded successfully!")
print(agents_sales_list)

Agents list loaded successfully!
['adrianarodriguez@originaltelecom.es', 'carmenanselmo@originaltelecom.es', 'concepcion.garcia@originaltelecom.es', 'fatimagonzalez@originaltelecom.es', 'outbound@originaltelecom.es', 'josecarlosmartinez@originaltelecom.es', 'lorenabellido@originaltelecom.es', 'maricarmencarrasco@originaltelecom.es', 'sergiogarcia@originaltelecom.es', 'franciscojavierjaro@originaltelecom.es']

## Load Agents names for calls List

Load the list of all agents from the "Agents" sheet.

In [7]:
# Load the list of agents
agents_calls_df = pd.read_excel(excel_sales_file_path, sheet_name='AGENTES CALLS', usecols='A')
agents_calls_list = agents_calls_df.iloc[:, 0].tolist()
print("Agents list loaded successfully!")
print(agents_calls_list)

Agents list loaded successfully!
['arodriguez.out', 'canselmo.out', 'cgarcia', 'fgonzalez.out', 'jminero.prexfy', 'jcmartinez.out', 'lbellido.out', 'mccarrasco.out', 'sgarcia.out', 'varagon']

## Verify and Complete for Sales sheet

Verify that all agents are present in each DataFrame. If an agent is missing, add a row with zeros for that agent.

In [8]:
def ensure_all_agents(df, agents_list):
    """
    Ensure all agents are present in the DataFrame. Add missing agents with zero values and remove agents not in the list.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to check and update.
    agents_list (list): The list of all agents.
    
    Returns:
    pd.DataFrame: The updated DataFrame with all agents.
    """
    # Get the list of agents in the DataFrame
    existing_agents = df.iloc[:, 0].tolist()
    
    # Find missing agents
    missing_agents = [agent for agent in agents_list if agent not in existing_agents]
    
    # Add rows for missing agents with zero values
    for agent in missing_agents:
        zero_row = pd.DataFrame([[agent] + [0] * (df.shape[1] - 1)], columns=df.columns)
        df = pd.concat([df, zero_row], ignore_index=True)
    
    # Remove agents not in the agents list
    df = df[df.iloc[:, 0].isin(agents_list)]
    
    print(f"Added {len(missing_agents)} missing agents and removed {len(existing_agents) - len(df)} agents not in the list.")
    return df

# Apply the function to each DataFrame
active_df = ensure_all_agents(active_df, agents_sales_list)
canceled_df = ensure_all_agents(canceled_df, agents_sales_list)
services_df = ensure_all_agents(services_df, agents_sales_list)

# Display the updated DataFrames
print("Active DataFrame after ensuring all agents:")
display(active_df.head(55))

print("Canceled DataFrame after ensuring all agents:")
display(canceled_df.head(55))

print("Services DataFrame after ensuring all agents:")
display(services_df.head(55))

Added 0 missing agents and removed 8 agents not in the list.
Added 1 missing agents and removed 6 agents not in the list.
Added 0 missing agents and removed 9 agents not in the list.
Active DataFrame after ensuring all agents:

,Outbound Nacional,7,2,5,8,14,7.1,12,9,6,...,13,15,28,13.1,5.2,21,3,7.2,3.1,185
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,...,1.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,18
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,9
3,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,6.0,4.0,2.0,2.0,0.0,0.0,1.0,0.0,21
4,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,3.0,3.0,1.0,5.0,0.0,0.0,0.0,14
6,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,3.0,4.0,3.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,21
8,lorenabellido@originaltelecom.es,4.0,0.0,4.0,2.0,3.0,0.0,1.0,2.0,3.0,...,2.0,1.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0,29
9,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,...,1.0,1.0,2.0,1.0,1.0,2.0,0.0,0.0,1.0,12
13,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
14,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,2.0,0.0,1.0,2.0,1.0,3.0,0.0,0.0,0.0,14

Canceled DataFrame after ensuring all agents:

,Outbound Nacional,2,1,2.1,10,3,4,2.2,3.1,9,5,1.1,5.1,5.2,52
0,adrianarodriguez@originaltelecom.es,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,carmenanselmo@originaltelecom.es,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,fatimagonzalez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5
3,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2
5,lorenabellido@originaltelecom.es,1.0,0.0,2.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,8
6,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,12
7,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2
9,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,3
13,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
16,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

Services DataFrame after ensuring all agents:

,Outbound Nacional,7,2,5,8,14,8.1,12,9,6,...,13,17,29,13.1,6.1,22,10,22.1,17.1,227
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,14
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,...,1.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,18
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,9
3,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,8.0,4.0,2.0,2.0,1.0,2.0,3.0,1.0,29
4,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,4.0,3.0,2.0,5.0,2.0,1.0,1.0,20
6,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,3.0,4.0,3.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,21
8,lorenabellido@originaltelecom.es,4.0,0.0,4.0,2.0,3.0,0.0,1.0,2.0,3.0,...,2.0,1.0,3.0,0.0,0.0,1.0,0.0,3.0,0.0,31
9,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,...,1.0,1.0,2.0,1.0,1.0,2.0,0.0,0.0,7.0,18
14,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
15,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,2.0,0.0,1.0,2.0,1.0,3.0,0.0,0.0,0.0,14

## Verify and Complete for Calls sheet

Verify that all agents are present in each DataFrame. If an agent is missing, add a row with zeros for that agent.

In [9]:
def ensure_all_agents(df, agents_list):
    """
    Ensure all agents are present in the DataFrame. Add missing agents with zero values and remove agents not in the list.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to check and update.
    agents_list (list): The list of all agents.
    
    Returns:
    pd.DataFrame: The updated DataFrame with all agents.
    """
    # Get the list of agents in the DataFrame
    existing_agents = df.iloc[:, 0].tolist()
    
    # Find missing agents
    missing_agents = [agent for agent in agents_list if agent not in existing_agents]
    
    # Add rows for missing agents with zero values
    for agent in missing_agents:
        zero_row = pd.DataFrame([[agent] + [0] * (df.shape[1] - 1)], columns=df.columns)
        df = pd.concat([df, zero_row], ignore_index=True)
    
    # Remove agents not in the agents list
    df = df[df.iloc[:, 0].isin(agents_list)]
    
    print(f"Added {len(missing_agents)} missing agents and removed {len(existing_agents) - len(df)} agents not in the list.")
    return df

# Apply the function to each DataFrame
calls_brute_df = ensure_all_agents(calls_brute_df, agents_calls_list)
calls_net_df = ensure_all_agents(calls_net_df, agents_calls_list)

# Display the updated DataFrames
print("Active DataFrame after ensuring all agents:")
display(calls_brute_df.head(15))

print("Canceled DataFrame after ensuring all agents:")
display(calls_net_df.head(15))

Added 0 missing agents and removed 10 agents not in the list.
Added 0 missing agents and removed 9 agents not in the list.
Active DataFrame after ensuring all agents:

   Etiquetas de fila  Cuenta de AGENTE
0     arodriguez.out             780.0
1       canselmo.out            1953.0
2            cgarcia            2656.0
3      fgonzalez.out            1504.0
4     jcmartinez.out            1176.0
5     jminero.prexfy            1164.0
7       lbellido.out            1334.0
8     mccarrasco.out            1920.0
10       sgarcia.out            1762.0
12           varagon            2577.0

Canceled DataFrame after ensuring all agents:

   Etiquetas de fila  Cuenta de AGENTE
0     arodriguez.out             354.0
1       canselmo.out            1439.0
2            cgarcia            1439.0
3      fgonzalez.out             664.0
4     jcmartinez.out             626.0
5     jminero.prexfy             942.0
7       lbellido.out            1023.0
8     mccarrasco.out            1566.0
10       sgarcia.out            1050.0
12           varagon            1171.0

## Assign Values to Emails in sales sheet

Assign numerical values to each email and add them as a new column in the DataFrames.

In [10]:
# Dictionary mapping emails to their respective values
email_sales_values = {
    'adrianarodriguez@originaltelecom.es': 1,
    'carmenanselmo@originaltelecom.es': 2,
    'concepcion.garcia@originaltelecom.es': 3,
    'fatimagonzalez@originaltelecom.es': 4,
    'josecarlosmartinez@originaltelecom.es': 5,
    'outbound@originaltelecom.es': 6,
    'lorenabellido@originaltelecom.es': 7,
    'maricarmencarrasco@originaltelecom.es': 8,
    'sergiogarcia@originaltelecom.es': 9,
    'franciscojavierjaro@originaltelecom.es': 10,
}

# Add a new column to each DataFrame with the email values
def add_email_values(df, email_values):
    df['email_value'] = df.iloc[:, 0].map(email_values)
    return df

# Apply the function to each DataFrame
active_df = add_email_values(active_df, email_sales_values)
canceled_df = add_email_values(canceled_df, email_sales_values)
services_df = add_email_values(services_df, email_sales_values)

# Display the updated DataFrames with the new 'email_value' column
print("Active DataFrame with email values:")
display(active_df.head())

print("Canceled DataFrame with email values:")
display(canceled_df.head())

print("Services DataFrame with email values:")
display(services_df.head())

Active DataFrame with email values:

,Outbound Nacional,7,2,5,8,14,7.1,12,9,6,...,15,28,13.1,5.2,21,3,7.2,3.1,185,email_value
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10,1
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,...,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,18,2
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,9,3
3,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,4.0,2.0,2.0,0.0,0.0,1.0,0.0,21,4
4,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,3.0,3.0,1.0,5.0,0.0,0.0,0.0,14,10

Canceled DataFrame with email values:

,Outbound Nacional,2,1,2.1,10,3,4,2.2,3.1,9,5,1.1,5.1,5.2,52,email_value
0,adrianarodriguez@originaltelecom.es,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
1,carmenanselmo@originaltelecom.es,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,2
2,fatimagonzalez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5,4
3,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2,5
5,lorenabellido@originaltelecom.es,1.0,0.0,2.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,8,7

Services DataFrame with email values:

,Outbound Nacional,7,2,5,8,14,8.1,12,9,6,...,17,29,13.1,6.1,22,10,22.1,17.1,227,email_value
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,14,1
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,...,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,18,2
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,9,3
3,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,4.0,2.0,2.0,1.0,2.0,3.0,1.0,29,4
4,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,4.0,3.0,2.0,5.0,2.0,1.0,1.0,20,10

## Assign Values to Emails in calls sheet

Assign numerical values to each email and add them as a new column in the DataFrames.

In [11]:
# Dictionary mapping emails to their respective values
email_calls_values = {
    'arodriguez.out': 1,
    'canselmo.out': 2,
    'cgarcia': 3,
    'fgonzalez.out': 4,
    'jcmartinez.out': 5,
    'jminero.prexfy': 6,
    'lbellido.out': 7,
    'mccarrasco.out': 8,
    'sgarcia.out': 9,
    'varagon': 10,
}

# Add a new column to each DataFrame with the email values
def add_email_values(df, email_values):
    df['email_value'] = df.iloc[:, 0].map(email_values)
    return df

# Apply the function to each DataFrame
calls_brute_df = add_email_values(calls_brute_df, email_calls_values)
calls_net_df = add_email_values(calls_net_df, email_calls_values)

# Display the updated DataFrames with the new 'email_value' column
print("Active DataFrame with email values:")
display(calls_brute_df.head(15))

print("Canceled DataFrame with email values:")
display(calls_net_df.head(15))

Active DataFrame with email values:

   Etiquetas de fila  Cuenta de AGENTE  email_value
0     arodriguez.out             780.0            1
1       canselmo.out            1953.0            2
2            cgarcia            2656.0            3
3      fgonzalez.out            1504.0            4
4     jcmartinez.out            1176.0            5
5     jminero.prexfy            1164.0            6
7       lbellido.out            1334.0            7
8     mccarrasco.out            1920.0            8
10       sgarcia.out            1762.0            9
12           varagon            2577.0           10

Canceled DataFrame with email values:

   Etiquetas de fila  Cuenta de AGENTE  email_value
0     arodriguez.out             354.0            1
1       canselmo.out            1439.0            2
2            cgarcia            1439.0            3
3      fgonzalez.out             664.0            4
4     jcmartinez.out             626.0            5
5     jminero.prexfy             942.0            6
7       lbellido.out            1023.0            7
8     mccarrasco.out            1566.0            8
10       sgarcia.out            1050.0            9
12           varagon            1171.0           10

## Sort Sales DataFrames by Email Values

Sort the DataFrames based on the numerical values assigned to the emails.

In [12]:
# Sort each DataFrame by the 'email_value' column
def sort_by_email_value(df):
    df = df.sort_values(by='email_value')
    return df

# Apply the sorting function to each DataFrame
active_df = sort_by_email_value(active_df)
canceled_df = sort_by_email_value(canceled_df)
services_df = sort_by_email_value(services_df)

# Display the sorted DataFrames
print("Sorted Active DataFrame:")
display(active_df.head(20)) 

print("Sorted Canceled DataFrame:")
display(canceled_df.head(20))

print("Sorted Pending Signature DataFrame:")
display(services_df.head(20))

Sorted Active DataFrame:

,Outbound Nacional,7,2,5,8,14,7.1,12,9,6,...,15,28,13.1,5.2,21,3,7.2,3.1,185,email_value
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10,1
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,...,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,18,2
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,9,3
3,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,4.0,2.0,2.0,0.0,0.0,1.0,0.0,21,4
6,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,3.0,4.0,3.0,1.0,1.0,...,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,21,5
13,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,6
8,lorenabellido@originaltelecom.es,4.0,0.0,4.0,2.0,3.0,0.0,1.0,2.0,3.0,...,1.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0,29,7
9,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,...,1.0,2.0,1.0,1.0,2.0,0.0,0.0,1.0,12,8
14,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,2.0,1.0,3.0,0.0,0.0,0.0,14,9
4,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,3.0,3.0,1.0,5.0,0.0,0.0,0.0,14,10

Sorted Canceled DataFrame:

,Outbound Nacional,2,1,2.1,10,3,4,2.2,3.1,9,5,1.1,5.1,5.2,52,email_value
0,adrianarodriguez@originaltelecom.es,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
1,carmenanselmo@originaltelecom.es,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,2
13,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,3
2,fatimagonzalez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5,4
3,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2,5
16,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,6
5,lorenabellido@originaltelecom.es,1.0,0.0,2.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,8,7
6,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,12,8
7,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2,9
9,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,3,10

Sorted Pending Signature DataFrame:

,Outbound Nacional,7,2,5,8,14,8.1,12,9,6,...,17,29,13.1,6.1,22,10,22.1,17.1,227,email_value
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,14,1
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,...,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,18,2
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,9,3
3,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,4.0,2.0,2.0,1.0,2.0,3.0,1.0,29,4
6,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,3.0,4.0,3.0,1.0,1.0,...,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,21,5
14,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,6
8,lorenabellido@originaltelecom.es,4.0,0.0,4.0,2.0,3.0,0.0,1.0,2.0,3.0,...,1.0,3.0,0.0,0.0,1.0,0.0,3.0,0.0,31,7
9,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,...,1.0,2.0,1.0,1.0,2.0,0.0,0.0,7.0,18,8
15,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,2.0,1.0,3.0,0.0,0.0,0.0,14,9
4,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,4.0,3.0,2.0,5.0,2.0,1.0,1.0,20,10

## Sort Calls DataFrames by Email Values

Sort the DataFrames based on the numerical values assigned to the emails.

In [13]:
# Sort each DataFrame by the 'email_value' column
def sort_by_email_value(df):
    df = df.sort_values(by='email_value')
    return df

# Apply the sorting function to each DataFrame
calls_brute_df = sort_by_email_value(calls_brute_df)
calls_net_df = sort_by_email_value(calls_net_df)

# Display the sorted DataFrames
print("Sorted Active DataFrame:")
display(calls_brute_df.head(20)) 

print("Sorted Canceled DataFrame:")
display(calls_net_df.head(20))

Sorted Active DataFrame:

   Etiquetas de fila  Cuenta de AGENTE  email_value
0     arodriguez.out             780.0            1
1       canselmo.out            1953.0            2
2            cgarcia            2656.0            3
3      fgonzalez.out            1504.0            4
4     jcmartinez.out            1176.0            5
5     jminero.prexfy            1164.0            6
7       lbellido.out            1334.0            7
8     mccarrasco.out            1920.0            8
10       sgarcia.out            1762.0            9
12           varagon            2577.0           10

Sorted Canceled DataFrame:

   Etiquetas de fila  Cuenta de AGENTE  email_value
0     arodriguez.out             354.0            1
1       canselmo.out            1439.0            2
2            cgarcia            1439.0            3
3      fgonzalez.out             664.0            4
4     jcmartinez.out             626.0            5
5     jminero.prexfy             942.0            6
7       lbellido.out            1023.0            7
8     mccarrasco.out            1566.0            8
10       sgarcia.out            1050.0            9
12           varagon            1171.0           10

## Remove 'email_value' Column from Sales Dataframe

After sorting the DataFrames based on the email values, the 'email_value' column should be removed to prevent interference with further calculations.

In [14]:
# Function to remove the 'email_value' column
def remove_email_value_column(df):
    if 'email_value' in df.columns:
        df = df.drop(columns=['email_value'])
    return df

# Apply the function to each DataFrame
active_df = remove_email_value_column(active_df)
canceled_df = remove_email_value_column(canceled_df)
services_df = remove_email_value_column(services_df)


# Display the updated DataFrames without the 'email_value' column
print("Active DataFrame after removing 'email_value' column:")
display(active_df.head(15))

print("Canceled DataFrame after removing 'email_value' column:")
display(canceled_df.head(15))

print("Services DataFrame after removing 'email_value' column:")
display(services_df.head(15))

column_values = active_df.iloc[:, 0].tolist()
print("Values from the second column of active_df:")
print(column_values)

Active DataFrame after removing 'email_value' column:

,Outbound Nacional,7,2,5,8,14,7.1,12,9,6,...,13,15,28,13.1,5.2,21,3,7.2,3.1,185
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,...,1.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,18
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,9
3,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,6.0,4.0,2.0,2.0,0.0,0.0,1.0,0.0,21
6,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,3.0,4.0,3.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,21
13,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
8,lorenabellido@originaltelecom.es,4.0,0.0,4.0,2.0,3.0,0.0,1.0,2.0,3.0,...,2.0,1.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0,29
9,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,...,1.0,1.0,2.0,1.0,1.0,2.0,0.0,0.0,1.0,12
14,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,2.0,0.0,1.0,2.0,1.0,3.0,0.0,0.0,0.0,14
4,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,3.0,3.0,1.0,5.0,0.0,0.0,0.0,14

Canceled DataFrame after removing 'email_value' column:

,Outbound Nacional,2,1,2.1,10,3,4,2.2,3.1,9,5,1.1,5.1,5.2,52
0,adrianarodriguez@originaltelecom.es,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,carmenanselmo@originaltelecom.es,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
13,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,fatimagonzalez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5
3,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2
16,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5,lorenabellido@originaltelecom.es,1.0,0.0,2.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,8
6,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,12
7,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2
9,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,3

Services DataFrame after removing 'email_value' column:

,Outbound Nacional,7,2,5,8,14,8.1,12,9,6,...,13,17,29,13.1,6.1,22,10,22.1,17.1,227
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,14
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,...,1.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,18
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,9
3,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,8.0,4.0,2.0,2.0,1.0,2.0,3.0,1.0,29
6,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,3.0,4.0,3.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,21
14,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
8,lorenabellido@originaltelecom.es,4.0,0.0,4.0,2.0,3.0,0.0,1.0,2.0,3.0,...,2.0,1.0,3.0,0.0,0.0,1.0,0.0,3.0,0.0,31
9,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,...,1.0,1.0,2.0,1.0,1.0,2.0,0.0,0.0,7.0,18
15,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,2.0,0.0,1.0,2.0,1.0,3.0,0.0,0.0,0.0,14
4,franciscojavierjaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,4.0,3.0,2.0,5.0,2.0,1.0,1.0,20

Values from the second column of active_df:
['adrianarodriguez@originaltelecom.es', 'carmenanselmo@originaltelecom.es', 'concepcion.garcia@originaltelecom.es', 'fatimagonzalez@originaltelecom.es', 'josecarlosmartinez@originaltelecom.es', 'outbound@originaltelecom.es', 'lorenabellido@originaltelecom.es', 'maricarmencarrasco@originaltelecom.es', 'sergiogarcia@originaltelecom.es', 'franciscojavierjaro@originaltelecom.es']

## Remove 'email_value' Column from Calls DataFrame

After sorting the DataFrames based on the email values, the 'email_value' column should be removed to prevent interference with further calculations.

In [15]:
# Function to remove the 'email_value' column
def remove_email_value_column(df):
    if 'email_value' in df.columns:
        df = df.drop(columns=['email_value'])
    return df

# Apply the function to each DataFrame
calls_brute_df = remove_email_value_column(calls_brute_df)
calls_net_df = remove_email_value_column(calls_net_df)


# Display the updated DataFrames without the 'email_value' column
print("Active DataFrame after removing 'email_value' column:")
display(calls_brute_df.head())

print("Canceled DataFrame after removing 'email_value' column:")
display(calls_net_df.head())

Active DataFrame after removing 'email_value' column:

  Etiquetas de fila  Cuenta de AGENTE
0    arodriguez.out             780.0
1      canselmo.out            1953.0
2           cgarcia            2656.0
3     fgonzalez.out            1504.0
4    jcmartinez.out            1176.0

Canceled DataFrame after removing 'email_value' column:

  Etiquetas de fila  Cuenta de AGENTE
0    arodriguez.out             354.0
1      canselmo.out            1439.0
2           cgarcia            1439.0
3     fgonzalez.out             664.0
4    jcmartinez.out             626.0

## Process Data from sales DataFrames

Sum all numeric values in each row, divide the result by 2, and store the final values.

In [16]:
# Tomar el Ãºltimo valor disponible de cada fila para 'Active' DataFrame
active_last_values = active_df.iloc[:, 1:].apply(lambda row: row.dropna().iloc[-1], axis=1)
canceled_last_values = canceled_df.iloc[:, 1:].apply(lambda row: row.dropna().iloc[-1], axis=1)
services_last_values = services_df.iloc[:, 1:].apply(lambda row: row.dropna().iloc[-1], axis=1)

print("Ãšltimos valores para 'Active' DataFrame:")
print(active_last_values.head())
print("Ãšltimos valores para 'Canceled' DataFrame:")
print(canceled_last_values.head())
print("Ãšltimos valores para 'Services' DataFrame:")
print(services_last_values.head())

Ãšltimos valores para 'Active' DataFrame:
0    10.0
1    18.0
2     9.0
3    21.0
6    21.0
dtype: float64
Ãšltimos valores para 'Canceled' DataFrame:
0     1.0
1     2.0
13    2.0
2     5.0
3     2.0
dtype: float64
Ãšltimos valores para 'Services' DataFrame:
0    14.0
1    18.0
2     9.0
3    29.0
6    21.0
dtype: float64

## Update finalFile Excel Sheet

Update the "finalFile" Excel sheet with the calculated values from all five DataFrame

### Update finalFile Excel sheet with Active Data

Update the "finalFile" Excel sheet with the calculated values from the Active DataFrame in column J.

In [17]:
from openpyxl import load_workbook

# Path to the final file
final_file_path ='/workspaces/Finetwork-Automation/outbound/CDM FIDELIZACION + POTENCIALES ACTUALIZADO.xlsx'
sheet_name = 'OUT ALFABETICO'  # Change this to the correct sheet name

def update_final_file(file_path, sheet_name, values):
    # Load the workbook and select the sheet
    workbook = load_workbook(filename=file_path)
    sheet = workbook[sheet_name]
    
    # Start updating from row 3 in column F (6th column)
    start_row = 5
    column = 6  # Column F
    
    for i, value in enumerate(values, start=start_row):
        sheet.cell(row=i, column=column, value=value)
    
    # Save the workbook
    workbook.save(file_path)
    print(f"Updated {len(values)} rows in '{sheet_name}' sheet of '{file_path}'.")

# Update the final file with the calculated sums
update_final_file(final_excel_file_path, sheet_name, active_last_values)

Updated 10 rows in 'OUT ALFABETICO' sheet of '/workspaces/Finetwork-Automation/outbound/CDM FIDELIZACION + POTENCIALES ACTUALIZADO.xlsx'.

### Update finalFile Excel sheet with Canceled Data

Update the "finalFile" Excel sheet with the calculated values from the Canceled DataFrame in column E.

In [18]:
from openpyxl import load_workbook

def update_final_file(file_path, sheet_name, values):
    # Load the workbook and select the sheet
    workbook = load_workbook(filename=file_path)
    sheet = workbook[sheet_name]
    
    # Start updating from row 3 in column F (6th column)
    start_row = 5
    column = 5  # Column E
    
    for i, value in enumerate(values, start=start_row):
        sheet.cell(row=i, column=column, value=value)
    
    # Save the workbook
    workbook.save(file_path)
    print(f"Updated {len(values)} rows in '{sheet_name}' sheet of '{file_path}'.")

# Update the final file with the calculated sums
update_final_file(final_file_path, sheet_name, canceled_last_values)

Updated 10 rows in 'OUT ALFABETICO' sheet of '/workspaces/Finetwork-Automation/outbound/CDM FIDELIZACION + POTENCIALES ACTUALIZADO.xlsx'.

### Update finalFile Excel sheet with Services Data

Update the "finalFile" Excel sheet with the calculated values from the Services DataFrame in column D.

In [19]:
from openpyxl import load_workbook

def update_final_file(file_path, sheet_name, values):
    # Load the workbook and select the sheet
    workbook = load_workbook(filename=file_path)
    sheet = workbook[sheet_name]
    
    # Start updating from row 3 in column F (6th column)
    start_row = 5
    column = 4  # Column D
    
    for i, value in enumerate(values, start=start_row):
        sheet.cell(row=i, column=column, value=value)
    
    # Save the workbook
    workbook.save(file_path)
    print(f"Updated {len(values)} rows in '{sheet_name}' sheet of '{file_path}'.")

# Update the final file with the calculated sums
update_final_file(final_file_path, sheet_name, services_last_values)

Updated 10 rows in 'OUT ALFABETICO' sheet of '/workspaces/Finetwork-Automation/outbound/CDM FIDELIZACION + POTENCIALES ACTUALIZADO.xlsx'.

### Update finalFile Excel sheet with Brute Calls Data

Update the "finalFile" Excel sheet with the values from Brute Calls DataFrame in column G.

In [20]:
from openpyxl import load_workbook

brute_calls = calls_brute_df.iloc[:, 1].values

def update_final_file(file_path, sheet_name, values):
    # Load the workbook and select the sheet
    workbook = load_workbook(filename=file_path)
    sheet = workbook[sheet_name]
    
    # Start updating from row 3 in column F (6th column)
    start_row = 5
    column = 7  # Column G
    
    for i, value in enumerate(values, start=start_row):
        sheet.cell(row=i, column=column, value=value)
    
    # Save the workbook
    workbook.save(file_path)
    print(f"Updated {len(values)} rows in '{sheet_name}' sheet of '{file_path}'.")

# Update the final file with the calculated sums
update_final_file(final_file_path, sheet_name, brute_calls)

Updated 10 rows in 'OUT ALFABETICO' sheet of '/workspaces/Finetwork-Automation/outbound/CDM FIDELIZACION + POTENCIALES ACTUALIZADO.xlsx'.

## Update finalFile Excel sheet with Net Calls Data

Update the "finalFile" Excel sheet with the values from Net Calls DataFrame in column H.

In [21]:
from openpyxl import load_workbook

net_calls = calls_net_df.iloc[:, 1].values

def update_final_file(file_path, sheet_name, values):
    # Load the workbook and select the sheet
    workbook = load_workbook(filename=file_path)
    sheet = workbook[sheet_name]
    
    # Start updating from row 3 in column F (6th column)
    start_row = 5
    column = 8  # Column H
    
    for i, value in enumerate(values, start=start_row):
        sheet.cell(row=i, column=column, value=value)
    
    # Save the workbook
    workbook.save(file_path)
    print(f"Updated {len(values)} rows in '{sheet_name}' sheet of '{file_path}'.")

# Update the final file with the calculated sums
update_final_file(final_file_path, sheet_name, net_calls)

Updated 10 rows in 'OUT ALFABETICO' sheet of '/workspaces/Finetwork-Automation/outbound/CDM FIDELIZACION + POTENCIALES ACTUALIZADO.xlsx'.